<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1052547698119-bihpii2mobakpi0d3t7h90jrvo1qr980.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1052547698119-bihpii2mobakpi0d3t7h90jrvo1qr980</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1052547698119-08kpt3dnuf4fpulv8i2p6ieb9gl3ck9n.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCNyq8e2c9sqXXVXXilpmoUqZyz6uP2xXY</string>
	<key>GCM_SENDER_ID</key>
	<string>1052547698119</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>eu.eurospotrebitelia.nu3food</string>
	<key>PROJECT_ID</key>
	<string>customdev-nu3food</string>
	<key>STORAGE_BUCKET</key>
	<string>customdev-nu3food.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1052547698119:ios:ac43c19f254094fe255de2</string>
</dict>
</plist>